
obj/Debug/net45/Illuminum.assets.cache
obj/Debug/net45/Illuminum.csprojAssemblyReference.cache
obj/Illuminum.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Illuminum.csproj.nuget.g.props
obj/project.nuget.cache
bin/Debug/net45/tModLoader.xml
bin/Debug/net45/tModLoader.pdb
bin/Debug/net45/tModLoader.exe
bin/Debug/net45/TerrariaHooks.dll
bin/Debug/net45/System.ValueTuple.dll
bin/Debug/net45/Steamworks.NET.dll
bin/Debug/net45/ReLogic.dll
bin/Debug/net45/NVorbis.dll
bin/Debug/net45/Newtonsoft.Json.dll
bin/Debug/net45/MP3Sharp.dll
bin/Debug/net45/MonoMod.Utils.xml
bin/Debug/net45/MonoMod.Utils.dll
bin/Debug/net45/MonoMod.RuntimeDetour.xml
bin/Debug/net45/MonoMod.RuntimeDetour.dll
bin/Debug/net45/Mono.Cecil.Pdb.dll
bin/Debug/net45/Mono.Cecil.Mdb.dll
bin/Debug/net45/Mono.Cecil.dll
bin/Debug/net45/Microsoft.Xna.Framework.Xact.dll
bin/Debug/net45/Microsoft.Xna.Framework.Graphics.dll
bin/Debug/net45/Microsoft.Xna.Framework.Game.dll
bin/Debug/net45/Microsoft.Xna.Framework.dll
bin/Debug/net45/log4net.dll
bin/Debug/net45/Ionic.Zip.Reduced.dll
bin/Debug/net45/Illuminum.pdb
bin/Debug/net45/Illuminum.dll
.vs/Illuminum/v16/.suo
.vs/Illuminum/DesignTimeBuild/.dtbcache.v2
obj/Debug/net45/Illuminum.assets.cache
obj/Debug/net45/Illuminum.csproj.CopyComplete
obj/Debug/net45/Illuminum.csproj.CoreCompileInputs.cache
obj/Debug/net45/Illuminum.csproj.FileListAbsolute.txt
obj/Debug/net45/Illuminum.csprojAssemblyReference.cache
obj/Debug/net45/Illuminum.dll
obj/Debug/net45/Illuminum.pdb
obj/Illuminum.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
IlluminumMod.csproj
