
obj/Debug/net45/Illuminum.assets.cache
obj/Debug/net45/Illuminum.csprojAssemblyReference.cache
obj/Illuminum.csproj.nuget.dgspec.json
obj/project.assets.json
obj/Illuminum.csproj.nuget.g.props
obj/project.nuget.cache
